.container {
  transition: filter 1.5s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.container .introduction {
  background: #eeedec;
  color: #6d6c6c;
}
.container .introduction .title {
  width: 50%;
  margin: 0 20px;
  font-size: 18px;
  border-bottom: 5px solid #a7a5a5;
}
.container .introduction .tabs {
  position: relative;
  margin: 10px auto 0;
  width: 95%;
  height: 350px;
}
.container .introduction .tabs input {
  opacity: 0;
}
.container .introduction .tabs input:checked + label {
  background: #fff;
  color: #6d6c6c;
}
.container .introduction .tabs label {
  cursor: pointer;
  background: -webkit-linear-gradient(#666666, #555555);
  color: #eee;
  padding: 10px;
  float: left;
  border-radius: 4px 4px 0 0;
  margin-right: 1px;
  zoom: 1;
}
.container .introduction .tabs label:hover {
  background: -webkit-linear-gradient(#777777, #666666);
}
.container .introduction .tabs label::after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.container .introduction .tabs .panels {
  position: relative;
  background: #fff;
  margin: 18px 0 0;
  border-radius: 0 10px 10px 10px;
  min-height: 300px;
  width: 100%;
  overflow-y: auto;
}
.container .introduction .tabs .panels .panel {
  width: 100%;
  opacity: 0;
  position: absolute;
  background: #fff;
  border-radius: 0 10px 10px 10px;
  padding: 4% 4% 0;
  box-sizing: border-box;
}
.container .introduction .tabs .panels .panel table {
  text-align: center;
}
.container .introduction .tabs .panels .panel h2 {
  margin: 0;
  font-family: Arial;
}
.container .introduction .tabs input:nth-of-type(1):checked ~ .panels .panel:first-child,
.container .introduction .tabs input:nth-of-type(2):checked ~ .panels .panel:nth-child(2),
.container .introduction .tabs input:nth-of-type(3):checked ~ .panels .panel:nth-child(3),
.container .introduction .tabs input:nth-of-type(4):checked ~ .panels .panel:last-child {
  opacity: 1;
  transition: 0.3s;
}
.container .trans-logo {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 500px;
  background: #eeedec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .trans-logo ul {
  list-style-type: none;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-55deg);
  animation: transUl 5s linear 2s infinite;
}
@keyframes transUl {
  from {
    transform: rotateX(-30deg) rotateY(0);
  }
  to {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.container .trans-logo ul li {
  position: absolute;
  width: 200px;
  height: 200px;
  transition: transform 1.5s;
}
.container .trans-logo ul li:nth-child(1) {
  background: url("../icons/home.jpg") no-repeat;
  background-size: 100% 100%;
  transform: rotateX(90deg) translateZ(100px);
}
.container .trans-logo ul li:nth-child(2) {
  background: url("../icons/culture.jpg") no-repeat;
  background-size: 100% 100%;
  transform: rotateX(90deg) translateZ(-100px);
}
.container .trans-logo ul li:nth-child(3) {
  background: url("../icons/emergency.jpg") no-repeat;
  background-size: 100% 100%;
  transform: translateZ(100px);
}
.container .trans-logo ul li:nth-child(4) {
  background: url("../icons/people.jpg") no-repeat;
  background-size: 100% 100%;
  transform: translateZ(-100px);
}
.container .trans-logo ul li:nth-child(5) {
  background: url("../icons/service.jpg") no-repeat;
  background-size: 100% 100%;
  transform: rotateY(90deg) translateZ(-100px);
}
.container .trans-logo ul li:nth-child(6) {
  background: url("../icons/teacher.jpg") no-repeat;
  background-size: 100% 100%;
  transform: rotateY(90deg) translateZ(100px);
}
.container .trans-logo ul:hover li {
  transition: transform 1.5s;
}
.container .trans-logo ul:hover li:nth-child(1) {
  transform: rotateX(90deg) translateZ(200px);
}
.container .trans-logo ul:hover li:nth-child(2) {
  transform: rotateX(90deg) translateZ(-200px);
}
.container .trans-logo ul:hover li:nth-child(3) {
  transform: translateZ(200px);
}
.container .trans-logo ul:hover li:nth-child(4) {
  transform: translateZ(-200px);
}
.container .trans-logo ul:hover li:nth-child(5) {
  transform: rotateY(90deg) translateZ(-200px);
}
.container .trans-logo ul:hover li:nth-child(6) {
  transform: rotateY(90deg) translateZ(200px);
}
.container .thing-content {
  position: relative;
  background: #eeedec;
  z-index: 1;
}
.container .thing-content .line {
  position: relative;
  height: 3px;
  width: 95%;
  margin: 0 auto;
  background: #ffffff;
}
.container .thing-content ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (min-width: 600px) {
  .container .thing-content ul li {
    width: 500px;
    height: 500px;
    line-height: 500px;
    font-size: 50px;
  }
}
@media screen and (max-width: 599px) {
  .container .thing-content ul li {
    width: 250px;
    height: 250px;
    line-height: 250px;
    font-size: 20px;
  }
}
.container .thing-content ul li {
  margin-top: 30px;
  border-radius: 5px 5px 25px 5px;
  background: #cecccc;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}
.container .thing-content ul li:nth-child(1) {
  background: url("../icons/school.jpg") no-repeat;
  background-size: 100% 100%;
}
.container .thing-content ul li:nth-child(1):hover {
  animation: show 1s forwards;
}
.container .thing-content ul li:nth-child(2) {
  background: url("../icons/people.jpg") no-repeat;
  background-size: 100% 100%;
}
.container .thing-content ul li:nth-child(2):hover {
  animation: show 1s forwards;
}
.container .thing-content ul li:nth-child(3) {
  background: url("../icons/culture.jpg") no-repeat;
  background-size: 100% 100%;
}
.container .thing-content ul li:nth-child(3):hover {
  animation: show 1s forwards;
}
.container .thing-content ul li:nth-child(4) {
  background: url("../icons/teacher.jpg") no-repeat;
  background-size: 100% 100%;
}
.container .thing-content ul li:nth-child(4):hover {
  animation: show 1s forwards;
}
.container .thing-content ul li:nth-child(5) {
  background: url("../icons/service.jpg") no-repeat;
  background-size: 100% 100%;
}
.container .thing-content ul li:nth-child(5):hover {
  animation: show 1s forwards;
}
.container .thing-content ul li:nth-child(6) {
  background: url("../icons/emergency.jpg") no-repeat;
  background-size: 100% 100%;
}
.container .thing-content ul li:nth-child(6):hover {
  animation: show 1s forwards;
}
@keyframes show {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.625;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.875;
  }
  100% {
    opacity: 1;
  }
}
