@media screen and (min-width: 600px) {
  .header {
    height: 620px;
  }
  .home-img {
    height: 600px;
  }
}
@media screen and (max-width: 599px) {
  .header {
    height: 270px;
  }
  .home-img {
    height: 250px;
  }
}
body {
  overflow-x: hidden;
}
.header {
  position: relative;
  width: 100%;
}
.header .header-word {
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
  font-size: 30px;
  font-family: "Microsoft JhengHei", "PingFang-HK-Regular", "SimHei", "Noto Sans HK", "Source Han Sans";
}
.header .home-img {
  width: 100%;
  background: url("../icons/home.jpg") no-repeat;
  background-size: 100% 100%;
}
.header .left-top {
  position: absolute;
  width: 50%;
  border-style: solid;
  border-width: 96px 0 0 50vw;
  border-color: transparent transparent transparent #ffffff;
  left: 0;
  margin-top: -96px;
}
.header .right-top {
  position: absolute;
  width: 50%;
  border-style: solid;
  border-width: 96px 50vw 0 0;
  border-color: transparent #ffffff transparent transparent;
  right: 0;
  margin-top: -96px;
}
.header .left-bottom {
  position: absolute;
  width: 50%;
  border-style: solid;
  border-width: 116px 0 0 50vw;
  border-color: transparent transparent transparent #eeedec;
  left: 0;
  margin-top: -96px;
}
.header .right-bottom {
  position: absolute;
  width: 50%;
  border-style: solid;
  border-width: 116px 50vw 0 0;
  border-color: transparent #eeedec transparent transparent;
  right: 0;
  margin-top: -96px;
}
.table-menu-img {
  top: 25px;
  position: fixed;
  right: 10px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}
.table-menu-img .menu-leader {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 4px;
  background: #fdfdfd;
  border-radius: 5px;
}
.table-menu-img .menu-leader::before {
  top: -12px;
  width: 35px;
}
.table-menu-img .menu-leader::after {
  bottom: -12px;
  width: 28px;
}
.table-menu-img .menu-leader::before,
.table-menu-img .menu-leader::after {
  position: absolute;
  height: 4px;
  background: #fdfdfd;
  border-radius: 5px;
  right: 0;
  content: "";
  transition: width 0.5s;
}
.table-menu-img:hover .menu-leader::before,
.table-menu-img:hover .menu-leader::after {
  width: 40px;
}
.thing-content {
  position: relative;
  background: #eeedec;
  z-index: 1;
}
.thing-content ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.thing-content ul li {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 5px 5px 25px 5px;
  background: #cecccc;
  box-shadow: 10px 10px 5px #888888;
  line-height: 250px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  opacity: 0.5;
}
.thing-content ul li:nth-child(1) {
  background: url("../icons/school.jpg") no-repeat;
  background-size: 100% 100%;
}
.thing-content ul li:nth-child(1):hover {
  animation: show 1s forwards;
}
.thing-content ul li:nth-child(2) {
  background: url("../icons/people.jpg") no-repeat;
  background-size: 100% 100%;
}
.thing-content ul li:nth-child(2):hover {
  animation: show 1s forwards;
}
.thing-content ul li:nth-child(3) {
  background: url("../icons/culture.jpg") no-repeat;
  background-size: 100% 100%;
}
.thing-content ul li:nth-child(3):hover {
  animation: show 1s forwards;
}
.thing-content ul li:nth-child(4) {
  background: url("../icons/teacher.jpg") no-repeat;
  background-size: 100% 100%;
}
.thing-content ul li:nth-child(4):hover {
  animation: show 1s forwards;
}
.thing-content ul li:nth-child(5) {
  background: url("../icons/service.jpg") no-repeat;
  background-size: 100% 100%;
}
.thing-content ul li:nth-child(5):hover {
  animation: show 1s forwards;
}
.thing-content ul li:nth-child(6) {
  background: url("../icons/emergency.jpg") no-repeat;
  background-size: 100% 100%;
}
.thing-content ul li:nth-child(6):hover {
  animation: show 1s forwards;
}
@keyframes show {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.625;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.875;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  position: relative;
  background: #eeedec;
  width: 100%;
  height: 300px;
  padding-top: 30px;
}
.table-drawer {
  position: fixed;
  width: 250px;
  transform: translate(100%);
  right: 0;
  bottom: 0;
  height: 100%;
  transition: all 1.5s cubic-bezier(0.7, 0.3, 0.1, 1);
  background: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 21, 41, 0.35);
  font-family: "Microsoft JhengHei", "PingFang-HK-Regular", "SimHei", "Noto Sans HK", "Source Han Sans";
  z-index: 99;
}
.table-drawer .drawer-title-close {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.table-drawer .drawer-title-close .close-drawer {
  width: 25px;
  height: 25px;
  background: url("../icons/wrong.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.table-drawer ul {
  list-style-type: none;
}
.table-drawer ul li {
  margin-top: 30px;
}
.table-drawer ul li span {
  cursor: pointer;
}
.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 25px;
  right: 20px;
  background: url("../icons/back-to-top.png") left top;
  display: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.back-to-top:hover {
  background: url("../icons/back-to-top.png") left -40px;
}
