<link rel="stylesheet" href="../../css/footer.css" />

<div class="footer">
  <div class="line"></div>
  <div class="information">
    <ul>
      <li>便捷服务</li>
      <li>招生就业</li>
      <li>纪检监察</li>
      <li>信息服务</li>
      <li>院庆专题</li>
    </ul>

    <ul>
      <li>友情链接</li>
      <li>浙江省教育厅</li>
      <li>浙江教育考试网</li>
      <li>教育部阳关高考信息平台</li>
      <li>宁波大学</li>
    </ul>

    <ul>
      <li>联系我们ya</li>
      <li>地址：浙江省慈溪市白沙路街道文蔚路521号</li>
      <li>招生热线：0574-87600018</li>
      <li>电话：0574-87600546</li>
      <li>邮编：315300</li>
    </ul>
  </div>
  <div class="footer-img-word">
    <img src="../../icons/school-logo.png" alt="" />
    <div class="word">
      <span>
        版权所有：宁波大学科学技术学院 浙ICP备12014442号-6
        网站支持：宁波甬讯通信息科技有限公司
      </span>
    </div>
  </div>
</div>
